#adminNav
{
	text-align: center;
	border-radius: 4px 4px 4px 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffd0d0;
	background-color: #e00000;
	padding: .5em 0em 0em 0em;	
}

button.adminNavButton
{
	border-radius: 4px 4px 0px 0px;
	border-bottom-style: none;
}