.helptext
{
	font-size: x-small;
	font-style: italic;
	color: gray;
}

tr.required label, label.required
{
	font-weight: bold;
}

td.error
{
	border-color: red;	
}

.field_title
{
	text-align: right;
	vertical-align: top;
	padding-right: 0.5em;
	width: 20%;
}

td.field_data
{
	width: 80%;
}

textarea,
input
{
	border: thin;
	border-style: solid;
	border-color: #ffd0d0;
	border-radius: 4px;
	background-color: #ffffe0;
}

textarea,
input[type="text"],
input[type="password"]
{
	width:100%;
	padding-left: .15em;
}

input.checkbox
{
	width: 1em;
	padding-left: 1em;
}

textarea{
	resize: none;
}

table
{
	width: 100%;	
}

form.centered
{
	margin-left: 6em;
	margin-right: 6em;
}

th
{
	width: 30%;
	text-align: right;
	vertical-align: top;
	font-weight: normal;
}

.ui-datepicker th {
    width:auto;
}