#sendButton
{
	float:right;
}

#toggleArea
{
	margin: .5em 0em .5em 0em;
}

#passwordChangeToggle
{
	font-size: x-small;
}

#passwordChangeArea
{	
	border-bottom-style: solid;
	border-bottom-color: #ffd0d0;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-color: #ffd0d0;
	border-top-width: 1px;
	margin-top: 1em;
	margin-bottom: 2em;
}

#id_userConfigForm
{
	margin-top: 2em;
}