{% extends "base.html" %}
{% load i18n %}

{% block head %}
	{% include "jqueryui-headers.html" %}
	<link rel="stylesheet" href="/static-files/css/forms.css" />
	<link rel="stylesheet" href="/static-files/css/admin_nav_buttons.css" />
	<link rel="stylesheet" href="/static-files/css/areas.css" />
	<script type="text/javascript">
		$( function(){
			$( "button" ).button();
			$( "#expertiseAreasButton" ).prop("disabled","disabled");
			$( "#expertiseAreasButton" ).addClass("ui-state-active");
			$( "#expertiseAreasButton" ).removeClass("ui-state-disabled");
			$( "#sendButton" ).click(function(event){
				event.preventDefault();
				$("#id_areasForm").submit();
				return false;
			});
		});
	</script>
{% endblock %}

{% block content %}
	<h1>Administraci&oacute;n</h1>
	{% include "main/admin_nav_buttons.html" %}
	<p class="verbose">
	Puede modificar las &aacute;reas de experiencia o a&ntilde;adir nuevas usando los
	espacios vac&iacute;os del final del formulario.
	</p>
	<form id="id_areasForm" class="centered" name="areasForm" method="post" action=".">
		{% csrf_token %}
		{% include "formset_tabular.html" %}
		<div id="buttonsArea">
			<button id="sendButton">Guardar</button>
		</div>
	</form>
{% endblock %}