{% extends "base.html" %}
{% load i18n %}

{% block head %}
	{% include "jqueryui-headers.html" %}
	<link rel="stylesheet" href="/static-files/css/forms.css" />
	<link rel="stylesheet" href="/static-files/css/contact.css"/>
	{{ contactForm.media }}
	<script>
		$(function(){
			$( "button" ).button();
			{% if not sent %}
			$( "#sendButton" ).click(function(event){
				event.preventDefault();
				$("#id_contactForm").submit();
				return false;
			});
			{% else %}
			$( "input" ).prop("disabled",true).addClass("ui-state-disabled");
			$( "button" ).prop("disabled",true).addClass("ui-state-disabled");
			$( "textarea" ).prop("disabled",true).addClass("ui-state-disabled");
			{% endif %}
			{% if sent or error %}
			$("#sentDlg").dialog({
				modal: true,
				buttons:{
					Ok: function(){
						$(this).dialog("close");
					}
				}
			});
			{% endif %}
		});
	</script>
{% endblock %}

{% block nav_path %}
	{% if institution %}
		> <a class="nav_link" href="/{{ institution.id }}/">{{ institution.name }}</a> > Contacto
	{% else %}
		> Contacto
	{% endif %}
{% endblock %}

{% block content %}
	<h1>Contacto</h1>
	<p class="verbose">
	Desde aqu&iacute; puede preguntarnos cualquier duda que tenga respecto a las mediaciones o con la utilizaci&oacute;n de esta plataforma.
	</p>
	<p class="verbose">
	Estaremos encantados de atenderle.
	</p>
	{% if sent %}
	<div id="sentDlg" title="Mensaje enviado">
		<p>
			<span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
			El mensaje se ha enviado correctamente.
		</p>
		<p>Compruebe que se ha enviado una copia al correo electr&oacute;nico que nos ha indicado (puede demorarse un tiempo antes de recibirlo).</p>
	</div>
	{% endif %}
	{% if error %}
	<div id="sentDlg" title="No se ha podido enviar">
		<p>
			<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
			Ha ocurrido un error con el env&iacute;o del mensaje.
		</p>
		<p>Revise los datos que acaba de introducir. Si el problema persiste, p&oacute;ngase en contacto con nosotros.</p>
	</div>
	{% endif %}

	<form id="id_contactForm" class="centered" name="contactForm" method="post" action="."> {% csrf_token %}
		{% for hidden in contactForms.hidden_fields %}
			{{ hidden }}
		{% endfor %}
		<table>
			{{ contactForm.as_table }}
		</table>
		
		<table id="sendTable">
			<tr>				
				<td id="captcha">
					{% if not sent and not user.is_authenticated %}
						{% if captchaResponse %}
							<ul class="errorlist"><li>{{ captchaResponse }}</li></ul>
						{% endif %}
						<script type="text/javascript" src="http://api.recaptcha.net/challenge?k={{ RECAPTCHA_PUB_KEY }}">  
	            		</script> 
	            		<noscript>  
				            <iframe src="http://api.recaptcha.net/noscript?k={{ RECAPTCHA_PUB_KEY }}" height="300" width="500" frameborder="0"></iframe><br>  
					        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>  
					        <input type="hidden" name="recaptcha_response_field" value="manual_challenge">  
			            </noscript>
			         {% endif %}		            
	            </td>
	            <td>
	            	<p>
						<button id="sendButton">Enviar</button>
					</p>
				</td>
			</tr>
		</table>
	</form>
{% endblock %}
