{% extends "base.html" %}
{% load i18n %}

{% block head %}
	{% include "jqueryui-headers.html" %}
	<link rel="stylesheet" href="/static-files/css/forms.css" />
	<link rel="stylesheet" href="/static-files/css/admin_nav_buttons.css" />
	<link rel="stylesheet" href="/static-files/css/insurance_entities.css" />
	<script type="text/javascript">
		$( function(){
			$( "button" ).button();
			$( "#insuranceEntitiesButton" ).prop("disabled","disabled");
			$( "#insuranceEntitiesButton" ).addClass("ui-state-active");
			$( "#insuranceEntitiesButton" ).removeClass("ui-state-disabled");
			$( "#sendButton" ).click(function(event){
				event.preventDefault();
				$("#id_entitiesForm").submit();
				return false;
			});
			$( "#entitiesList" ).accordion({
				{% if entitiesFormset|length > 1 %}
					active:false,
				{% endif %}
				collapsible:true
				});		
		});
	</script>
{% endblock %}

{% block content %}
	<h1>Administraci&oacute;n</h1>
	{% include "main/admin_nav_buttons.html" %}
	<form id="id_entitiesForm" class="centered" name="entitiesForm" method="post" action=".">
		{% csrf_token %}
		{{ entitiesFormset.management_form }}
		<div id="entitiesList">
			{% for form in entitiesFormset %}
				<h3>
					{% if form.name.value %}
						{{ form.name.value }}
					{% else %}
						Nuevo
						<p class="helptext">Rellene esta ficha para introducir una nueva entidad aseguradora.</p>
					{% endif %}
				</h3>
				<div>
					<table>			
						{{ form.as_table }}
					</table>
				</div>
			{% endfor %}
		</div>
		<div id="buttonArea">
			<button id="sendButton">Guardar</button>
		</div>
	</form>
{% endblock %}