{% extends "base.html" %}
{% load i18n %}

{% block head %}
{% endblock %}

{% block nav_path %} > Aviso legal{% endblock %}

{% block content %}

<h1>Aviso legal</h1>

<div class="verbose">
	<p>Responsable de los contenidos en Internet del Registro de Mediadores:</p>
	<p>C&aacute;mara Oficial de Comercio e Industria de Segovia</p>
	<p>C/ San Francisco, 32 <br/> 40001 Segovia</p>
	<p>
		Tel&eacute;fono: 921 432 300 <br/>
		Fax: 921 430 563
	</p>
	<p>Correo electr&oacute;nico: <a href="mailto:info@camaradesegovia.es">info@camaradesegovia.es</a></p>
</div>

{% endblock %}