{% extends "base.html" %}
{% load i18n %}

{% block head %}
	{% include "jqueryui-headers.html" %}
	<link rel="stylesheet" href="/static-files/css/mediators_list.css" />
	<script>
		$(function() {
			$( 'button' ).button();
			$( '#mediators-list' ).accordion({
				{% if mediators|length > 1 %}
					active:false,
				{% endif %}
				collapsible:true
				});
			{% block jqueryInit %}
			{% endblock %}
		});
	</script>
{% endblock %}

{% block nav_path %}
	> <a class="nav_link" href="/{{institution.id}}/">{{institution.name}}</a> > Listado de mediadores
{% endblock %}

{% block content %}	
	{% block contentTitle %}<h1>Listado</h1>{% endblock %}
	
	{% block beforeList %}
	{% endblock %}
	
	{% if mediators %}
		<div id="mediators-list">		
		{% for mediator in mediators %}
			<h3>
				<table class="headerTable">
					<tr>
						<td class="headerImage">
							{% if mediator.image %}
								<img src="{{ MEDIA_URL }}{{ mediator.image }}?token={{ TIMESTAMP }}" alt="foto">
							{% else %}
								<img src="{{ NO_IMAGE_URL }}" alt="sin imagen" >
							{% endif %}
						</td>
						<td>
							<table>
								{% block preTitle %}{% endblock %}
								<tr>									
									<td class="title">
										{% if mediator.surname and mediator.surname != "" %}
											{{ mediator.surname }}, {{ mediator.name }}
										{% else %}
											{{ mediator.name }}
										{% endif %}
									</td>									
								</tr>
								{% block postTitle %}{% endblock %}
								<tr>
									<td class="subtitle">
										{{ mediator.expertiseDescription|truncatewords:5 }}
									</td>
								</tr>
							</table>
						</td>
						<td>
							{% block rowHeaderRightExtraSpace %}
							{% endblock %}
						</td>
					</tr>
					<tr><td colspan="3">{% block rowHeaderBottomExtraSpace %}{% endblock %}</td></tr>					
				</table>	
			</h3>
			<div>
				{% block mediatorPrivateInfo %}
				{% endblock %}
				<h4>Titulaci&oacute;n acad&eacute;mica</h4>
		
				<div class="info">
					<ul>
					{% for degree in mediator.degree.all %}
						<li>{{ degree }}</li>
					{% endfor %}
					</ul>
				</div>
				
				<h4>Experiencia</h4>
				<div class="info">
					{{ mediator.description|safe }}
				</div>
				
				{% if mediator.website %}
					<div class="mediatorLink">
						{% block mediatorLink %}
							(M&aacute;s informaci&oacute;n en el <a href="{{ mediator.website }}">sitio web del mediador</a>)
						{% endblock %}
					</div>
				{% endif %}
				
				<div class="buttonArea">
				{% block itemButtons %}	
					<button id="requestButton{{ mediator.id }}" onclick="javascript:window.location.href='/request/{{ institution.id }}/{{ mediator.nif }}/'">Solicitar mediaci&oacute;n</button>
				{% endblock %}
				</div>		
			</div>
		{% endfor %}
		</div>
	{% else %}
		<h3>No se han encontrado mediadores</h3>
		<p>Pruebe a buscar por otros criterios de b&uacute;squeda.</p>
		<p><a href="/">Volver</a></p>
	{% endif %}
	
	{% block afterList %}
	{% endblock %}
	
{% endblock %}