{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block head %}
	{% include "jqueryui-headers.html" %}
	<link rel="stylesheet" href="/static-files/css/forms.css" />
	<link rel="stylesheet" href="/static-files/css/request.css" />
	{{ requestForm.media }}
	<script>
		$(function() {
			$( "button" ).button();
			$("#sendButton").click(function(event){
				event.preventDefault();
				$("#id_requestForm").submit();
				return false;
			});
			$("#sendButton").prop("disabled", true).addClass("ui-state-disabled");
			$("#disclaimerCheck").click(function(event){
				disclaimerCheck = document.getElementById('disclaimerCheck');
				if(disclaimerCheck.checked){
					$("#sendButton").prop("disabled", false).removeClass("ui-state-disabled");
					
				}else{
					$("#sendButton").prop("disabled", true).addClass("ui-state-disabled");
				}
				return true;
			});
			{% if sent %}
				$( "input" ).prop("disabled",true).addClass("ui-state-disabled");
				$( "button" ).prop("disabled",true).addClass("ui-state-disabled");
				$( "textarea" ).prop("disabled",true).addClass("ui-state-disabled");
				$( "select" ).prop("disabled",true).addClass("ui-state-disabled");
			{% endif %}

			{% if sent or error %}
				$("#sentDlg").dialog({
					modal: true,
					buttons:{
						Ok: function(){
							$(this).dialog("close");
						}
					}
				});
			{% endif %}

		});
	</script>
{% endblock %}

{% block nav_path %} > <a class="nav_link" href="/{{ institution.id }}/">{{ institution.name }}</a> > Solicitud de mediaci&oacute;n {% endblock %}

{% block content %}	
	<h1>Solicitud de mediaci&oacute;n</h1>
	
	<form class="centered" id="id_requestForm" name="requestForm" method="post" action=".">
		{% csrf_token %}
		{% for hidden in requestForm.hidden_fields %}
    		{{ hidden }}
		{% endfor %}
		
		<table>
			{{ requestForm.as_table }}
		</table>	
	
		<table>
			<tr>
				<td colspan="2">
					<p>
						<input id="disclaimerCheck" type="checkbox">
						Declaro adem&aacute;s haber sido debidamente informado sobre las caracter&iacute;sticas esenciales de una mediaci&oacute;n como son la voluntariedad, la confidencialidad y la imparcialidad del mediador.
					</p>
				</td>
			</tr>
			<tr>
				<td>	
					{% if not user.is_authenticated and not sent %}										
						{% if captchaResponse %}
							<ul class="errorlist"><li>{{ captchaResponse }}</li></ul>
						{% endif %}
						<script type="text/javascript" src="http://api.recaptcha.net/challenge?k={{ RECAPTCHA_PUB_KEY }}">  
	            		</script> 
	            		<noscript>  
				            <iframe src="http://api.recaptcha.net/noscript?k={{ RECAPTCHA_PUB_KEY }}" height="300" width="500" frameborder="0"></iframe><br>  
					        <textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>  
					        <input type="hidden" name="recaptcha_response_field" value="manual_challenge">  
			            </noscript>
			        {% else %}
			        	&nbsp;
			        {% endif %}				    	           
				</td>
				<td>
					<p><button id="sendButton">Enviar</button></p>
				</td>
			</tr>
		</table>
	</form>
	
	<div id="lopdAd">
		En cumplimiento de la Ley 15/1999, de 13 de diciembre,  LOPD,  le informamos que los datos de car&aacute;cter personal que usted est&aacute; facilitando  en esta 
		ficha  y que resultan necesarios para  iniciar  y administrar  la  mediaci&oacute;n,  se incluir&aacute;n en nuestros ficheros de datos personales, cuyo  responsable y 
		titular es  la  Instituci&oacute;n de Mediaci&oacute;n de  C&aacute;mara Oficial de Comercio e industria de Segovia.  Puede ejercer sus derechos de acceso, rectificaci&oacute;n, 
		cancelaci&oacute;n y oposici&oacute;n, por escrito mediante carta  a C&aacute;mara Oficial de Comercio e industria de Segovia, C/ San Francisco, 32, 40001, Segovia, o dirigirse
		a nuestro <a href="/contact/{{ institution.id }}/">buz&oacute;n de contacto</a>.
	</div>
	
	{% if sent %}
		<div id="sentDlg" title="Solicitud enviada">
			<p>
				<span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
				La solicitud se ha enviado correctamente.
			</p>
			<p>Compruebe que se ha enviado una confirmaci&oacute;n al correo electr&oacute;nico que nos ha indicado (puede demorarse un tiempo antes de recibirlo).</p>
		</div>
	{% endif %}
	{% if error %}
		<div id="sentDlg" title="No se ha podido enviar">
			<p>
				<span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
				Ha ocurrido un error con el env&iacute;o de la solicitud.
			</p>
			<p>Revise los datos que acaba de introducir. Si el problema persiste, p&oacute;ngase <a href="/contacto">en contacto con nosotros</a>.</p>
		</div>
	{% endif %}
	
{% endblock %}