{% extends "base.html" %}
{% load i18n %}

{% block head %}
	{% include "jqueryui-headers.html" %}
	<link rel="stylesheet" href="/static-files/css/forms.css" />
	<link rel="stylesheet" href="/static-files/css/reset-password.css" />
	<script type="text/javascript">
		$(function(){
			$( "#sendButton" ).button().click(function(event){
				event.preventDefault();
				$( "#id_resetPasswordForm" ).submit();
				return false;
			});
		{% if done %}
			$( "input, button" ).prop("disabled",true).addClass("ui-state-disabled");
			$(" #doneDlg" ).dialog({
				modal: true,
				buttons:{
					Ok: function(){
						$(this).dialog("close");
					}
				}
			});
		{% endif %}
		})
	</script>
{% endblock %}

{% block nav_path %}
	> Restablecer contrase&ntilde;a
{% endblock %}

{% block content %}
	<h1>Restablecer contrase&ntilde;a</h1>
	<p class="verbose">
		Si ha olvidado su contrase&ntilde;a, desde aqu&iacute; puede solicitar una nueva.
	</p>
	<p class="verbose">
		Introduzca el e-mail con el que est&aacute; registrado en esta aplicaci&oacute;n, y 
		se le enviar&aacute; la nueva contrase&ntilde;a a su correo electr&oacute;nico.
	</p> 
	<form id="id_resetPasswordForm" name="resetPasswordForm" method="post" action=".">
		{% csrf_token %}
		<table>
			{{ form.as_table }}
		</table>
		<button id="sendButton">Enviar</button>
	</form>
	{% if done %}
		<div id="doneDlg" title="Contrase&ntilde;a reiniciada">
			<p><span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>Su contrase&ntilde;a ha sido reiniciada</p>
			<p>Se ha enviado a su direcci&oacute;n de e-mail un correo indic&aacute;ndole su nueva contrase&ntilde;a.</p>
		</div>
	{% endif %}
{% endblock %}